flask
sqlalchemy
openai
requests
python-dotenv
passlib[bcrypt]
bcrypt==3.2.0
langchain==0.2.10
langchain-openai==0.1.22
langgraph==0.2.35
langchain-community
psycopg2-binary
pytz
gunicorn
fastapi
uvicorn
